/*SECTION: MAIN BODY*/
main h1 {
    text-align: center;
    font-size: clamp(2rem, 5vh, 3rem);
    padding: 4rem 1rem 1rem 1rem;
}

main h5 {
    font-size: 1.25rem;
    padding: 0.5rem 0 0 0;
}

main {
    grid-area: main;
    background: ivory;
}

/*SECTION: POSTS*/
.post {
    flex: 1 1 280px;
    padding: 2rem;
    max-width: 25rem;

    background: #fff7ea;
    border: 2px solid #f1b04c;
    border-radius: 1rem;
}

.post a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post img, .post video {
    width: 100%;
    max-height: 40vh;
    object-fit: contain;
    border-radius: 0.5rem;
}

.post h5 {
    text-align: left;
    margin-top: 0.75rem;
    margin-bottom: 0;
}

#blog, #gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 2rem;
}

.title:hover{
    color: #fd7e14;
}

/*CLICK TO EXPAND*/
#gallery .post {
    cursor: url("cursor/link.cur"), pointer;
    transition: all 0.25s ease;
}

#gallery .post.expand {
    flex: 1 1 30rem;
    max-width: 40rem;
}

#gallery .post.expand img,
#gallery .post.expand video {
    max-height: 60vh;
}