/*LAYOUT: GENERAL*/
.sections {
    display: grid;
    min-height: 100vh;

    grid-template-rows: 0.5fr 20fr 0.5fr;
    grid-template-columns: 1.5fr 5fr;

    grid-template-areas:
        "nav nav"
        "lbar main"
        "footer footer";
}

@media (min-aspect-ratio: 14/9) {
    .sections {
        grid-template-columns: 1fr 7.5fr;
    }
}

/*SECTION: HEADER*/
#header {
    background: #f1b04c;
    grid-area: nav;

    display: flex;
    align-items: center;
    text-align: left;

    position: sticky;
    top: 0;
}

#header .btn {
    padding: 0.125rem 0.75rem;
}

#header a {
    margin-left: auto;
    margin-right: 1.5vw;
}

#header span {
    margin-left: 2vw;
}

/*SECTION: LEFT BAR*/
#lbar {
    grid-area: lbar;
    background: #f9ddb1;
    padding: 2rem 1.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5rem
}

.links a {
    border-left: 5px solid transparent;
    font-size: clamp(1rem, 2.5vh, 5rem);
    margin-bottom: 5rem;
}

.links a:hover {
    color: #fd7e14;
    border-left: 5px solid #fd7e14;
}

/*SECTION: MAIN BODY*/
main h1 {
    text-align: center;
    font-size: clamp(2rem, 5vh, 3rem);
    padding: 4rem 1rem 3rem 1rem;
}

main h5 {
    font-size: 1.25rem;
    padding: 0.5rem 0 0 0;
}

main {
    grid-area: main;
    background: ivory;
}

/*LAYOUT: POSTS*/
.post {
    flex: 1 1 280px;
    padding: 2rem;
    max-width: 25rem;

    background: #fff7ea;
    border: 2px solid #f1b04c;
    border-radius: 1rem;
}

.post a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post img, video {
    width: 100%;
    max-height: 40vh;
    object-fit: contain;
    border-radius: 0.5rem;
}

.post h5 {
    text-align: left;
    margin-top: 0.75rem;
    margin-bottom: 0;
}

#blog {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 2rem;
}

.title:hover{
    color: #fd7e14;
}

/*SECTION: FOOTER*/
footer {
    background: #f1b04c;
    grid-area: footer;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*CATEGORY: GENERAL*/
.body {
    font-family: "Courier New", monospace;
    color: #333;
    line-height: 1.6;
}
