/*LAYOUT: GENERAL*/
.sections{
    display:grid;
    height:100vh;

    grid-template-columns: 3fr 1fr;
    grid-template-rows: 0.5fr 15fr 0.5fr;

    grid-template-areas:
        "nav nav"
        "main rbar"
        "footer footer";
}

/*LAYOUT: RIGHT BAR*/
#rbar {
    display:grid;
    background: #f5c77e;
    grid-area: rbar;
    grid-template-rows: 2fr 1fr 6fr;
    grid-template-areas:
        "top"
        "login"
        "bottom";
    min-height: 0;
    overflow: hidden;
}

/*SECTION: NAV BAR*/
nav {
    background: #f1b04c;
    grid-area: nav;

    display: flex;
    align-items: center;
    text-align: left;
}

nav span {
    margin-left: 1vw;
}

/*SECTION : MAIN BODY*/
main {
    background: #f9ddb1;
    grid-area: main;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: clamp(1rem, 5vw, 10rem);
}

/*h1 changes location based on aspect ratio*/
@media (max-aspect-ratio: 4/3) {
    main {
        flex-direction: column;
    }
}

.welcome h1 {
    font-size: clamp(3rem, 5vh, 5rem);
    padding: clamp(1rem, 2vw, 10rem);
    font-weight: 700;
}

.welcome p {
    font-size: clamp(1rem, 1.75vh, 2rem);
    padding: clamp(1rem, 2vw, 10rem);
}

.welcome span {
    margin-bottom: 1rem;
    display: block;
}

/*SECTION: RIGHT BAR - ABOVE LOG IN*/
#top {
    grid-area: top;
}

/*SECTION: RIGHT BAR - LOG IN*/
#login {
    grid-area: login;
    padding: clamp(0.8rem, 1.75vw, 2rem);
}

#login h1 {
    font-size: clamp(1.2rem, 2vw, 2rem);
}

#login label {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}

#login button {
    margin: clamp(0.5rem, 1vw, 2rem);
    margin-left: 0;
}

/*SECTION: RIGHT BAR - BELOW LOG IN*/
#bottom {
    grid-area: bottom;
}

/*SECTION: FOOTER*/
footer {
    background: #f1b04c;
    grid-area: footer;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*CATEGORY: GENERAL*/
.body {
    font-family: "Courier New", monospace;
    color: #333;
    line-height: 1.6;
}

/*CATEGORY: IMAGES*/
#top img,
#bottom img{
    height: 100%;
    object-fit: cover;
}

.images {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 0;
}

.images img {
    width: 100%;
    object-fit: cover;
    border-top: 0.2em solid lightpink;
    border-bottom: 0.2em solid lightpink;
    display: block;
}

/*two columns of images when screen is wide*/
@media (min-aspect-ratio: 16/9) {
    .images {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .images img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}