/*LAYOUT: GENERAL*/
.sections {
    display: grid;
    min-height: 100vh;

    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1.5fr 5fr;

    grid-template-areas:
        "nav nav"
        "lbar main"
        "footer footer";
}

@media (min-aspect-ratio: 14/9) {
    .sections {
        grid-template-columns: 1fr 7.5fr;
    }
}

/*SECTION: HEADER*/
#header {
    background: #f1b04c;
    grid-area: nav;

    display: flex;
    align-items: center;
    text-align: left;

    position: sticky;
    top: 0;
}

#header .btn {
    padding: 0.125rem 0.75rem;
}

#header a {
    margin-left: auto;
    margin-right: 1.5vw;
}

#header span {
    margin-left: 2vw;
}

/*SECTION: LEFT BAR*/
#lbar {
    grid-area: lbar;
    background: #f9ddb1;
    padding: 2rem 1.5rem;
}

.links {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 5rem
}

.links a {
    border-left: 5px solid transparent;
    font-size: clamp(1rem, 2.5vh, 5rem);
    margin-bottom: 5rem;
}

.links a:hover {
    color: #fd7e14;
    border-left: 5px solid #fd7e14;
}

/*SECTION: MAIN BODY*/
main {
    grid-area: main;
    background: #f9ddb1;
    padding-left: 1vw;
    padding-right: 5vw;
    padding-bottom: 3vh;
}

main h1 {
    text-align: center;
    font-size: clamp(2rem, 5vh, 3rem);
    padding: 4rem 1rem 3rem 1rem;
}

main p{
    text-align: justify;
    font-size: clamp(1rem, 1.5vh, 2rem);
}

/*SECTION: QUIZ*/
.question {
    background: #fff7ea;
    border: 2px solid #f1b04c;
    border-radius: 1rem;
    padding: 3rem;
    padding-bottom: 1rem;
    margin: 3rem auto;
    max-width: 75rem;

    opacity: 0;
    transition: opacity 0.45s ease;
}

.question p {
    font-size: 1.5rem;
}

.question.show {
    opacity: 1;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.content label {
    background: #f9ddb1;
    padding: 0.6rem 0.8rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.content label {
    font-size: 1.2rem;
}

.feedback {
    margin-top: 2rem;
}

.explanation {
    margin-bottom: 1rem;
}

/*START - CODE FROM GETCSSSCAN.COM ALTERED TO FIT THEME*/
.quiz button {
    align-items: center;
    background-color: #f9ddb1;
    border: 2px solid #f1b04c;
    border-radius: 1rem;
    color: #333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-family: "Courier New", monospace;
    font-size: 1rem;
    height: 48px;
    width: 100%;
    padding: 0 1.5rem;
    position: relative;
    margin-top: 1rem;
}

/* shadow layer */
.quiz button {
    background-color: #f9ddb1;
    border: 2px solid #f1b04c;
    border-radius: 1rem;
    color: #333;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    font-family: "Courier New", monospace;
    font-size: 1rem;
    text-align: center;
    position: relative;
    box-shadow: 6px 6px 0 #f1b04c;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.quiz button:hover {
    transform: translate(4px, 4px);
    box-shadow: 2px 2px 0 #f1b04c;
}

.quiz button:active {
    transform: translate(6px, 6px);
    box-shadow: 0 0 0 #f1b04c;
    background-color: #fff7ea;
}
/*END*/

.next {
    width: 100%;
    margin-bottom: 1rem;
}

/*SECTION: RESULTS*/
#results {
    text-align: center;
    background: #fff7ea;
    border: 2px solid #f1b04c;
    border-radius: 1rem;
    padding: 3rem;
    padding-bottom: 2.5rem;
    margin: 3rem auto;
    max-width: 75rem;
    box-shadow: 0 8px 20px #f1b04c;
}

#gif {
    height: 100%;
    max-height: 50vh;
    border-radius: 0.75rem;
    margin: 1rem auto;
}

#resultNum {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 1rem;
}

/*SECTION: FOOTER*/
footer {
    background: #f1b04c;
    grid-area: footer;

    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/*CATEGORY: GENERAL*/
.body {
    font-family: "Courier New", monospace;
    color: #333;
    line-height: 1.6;
}

.body ::selection {
    background: #f1b04c;
}